.mantine-Modal-content::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.mantine-Modal-content::-webkit-scrollbar-thumb {
  visibility: visible;
}

.mantine-Modal-content::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
